{
    "server": {
        "host": "rm.wegox.cn",
        "port": 8888,
        "bufsize": 1024
    },
    "client": [
        {
            "protocol": "http",
            "hostname": "dev-min.wegox.cn",
            "subdomain": "",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 18000
        },
        {
            "protocol": "tcp",
            "hostname": "",
            "subdomain": "",
            "rport": 55499,
            "lhost": "127.0.0.1",
            "lport": 22
        }
    ]
}
